.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xMarkContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.xMark {
    cursor: pointer;
}


.titleSubject {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}

.dropdown {
    border-radius: 50%;
}

.inputText {
    background-color: #ebe7c3;
    color: #5f2f80;
    margin-top: 25px;
}

.warning {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #d72222;
}

.editorWarning {
    margin-top: 10px;
}

.disabled {
    width: 180px;
    background-color: rgb(165, 165, 165);
    color: rgb(106, 106, 106);
    cursor: default;
    font-size: 16px;
}

.identifySubject {
    border-radius: 10px;
}



.inputContainer {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 550px;
    margin-bottom: 25px;
}

.formPicture {
    display: flex;
    flex-direction: column;

    width: 550px;
    margin-bottom: 25px;
}

.textarea {
    resize: none;
    outline: none;
    color: #5f2f80;
    width: 550px;
    height: 150px;
    padding: 15px;
    font-size: 18px;
    margin-bottom: 15px;
    background-color: #ebe7c3;
    font-family: inherit;
    font-size: 14px;
}

.subjectImg {
    position: relative;
    flex-shrink: 0;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    cursor: pointer;
    border: 1px solid #ebe7c3;
}

.subjectImg>img {
    width: 100%;
    height: 100%;
}

.insertImg {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: 18px;
    text-align: center;
}

.bottomContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    margin: 25px 0;
}


.imgContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.validation {
    display: flex;
    justify-content: center;
}

.titleSubject {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}